{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="text-center">プロフィール</h1>
            {% for field in form %}
            <div class="mb-3">
                {% if field.label == '誕生日' %}
                    {{ field.label_tag }}
                    <p>{{ changed_birthday }}</p>
                {% elif field.label == '性別' %}
                    {{ field.label_tag }}
                    <p>{{ changed_gender }}</p>
                {% elif field.label == '血液型' %}
                    {{ field.label_tag }}
                    <p>{{ changed_bloodtype }}</p>
                {% elif field.label == '学習内容' %}
                    {{ field.label_tag }}
                    <p>
                    {% for select in changed_learning %}
                    <span>{{ select }}</span>
                    {% endfor %}
                    </p>
                {% else %}
                    {{ field.label_tag }}
                    <p>{{ field.value }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>